/*basic reset*/
/*browsers have built in values for elements so we'll reset a few things to zero*/

div,p,body,header,footer,section,article,nav,h1,h2,h3,h4 { 
margin: 0; 
padding: 0; 
} 

img { 
border: none; 
margin: 0; 
padding: 0; 
}

/*html selectors*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  background-color: #ededed;
  /*http://www.heropatterns.com/*/
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23c8c8c8' fill-opacity='0.33' fill-rule='evenodd'/%3E%3C/svg%3E");
}

/*a:link is for not visited, a:visited is for visited, and just a applies to both.*/
/*a will also style anchor links*/

a:link, a:visited { 
text-decoration:none; 
}

a:hover, a:active { 
text-decoration:none; 
 }

/*hide elements from browser but show for doc outline*/

.hidden
{
  display: none;
}

/*-- End hidden --*/


.container {
	margin: 0 auto;
	width: 980px;
	background-color: black;
	background-image: linear-gradient(to top, #000000, silver);
}

/*-- start Header --*/

.mainHeader {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.logoHeader {
	width: 220px;
	margin: 10px 0px 0px 20px;
}

.mainNav {
	width: 460px;
	height: 27px;
	margin-top: 75px;
	margin-left: auto;
}

.ulnav {
  list-style-type: none;
  overflow: hidden;
}

.linav {
  float: right;
}

.lifooter {
	float: left;
}

li a, .dropbtn {
  display: flex;
  color: #3e4041;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  color: #178df2;
  display: flex;
}

li {
	color: white;
}

/*-- end Header --*/

/*-- start Hero --*/
.heroimage {
  background: url(../images/screen_shots/batman.jpg) no-repeat bottom; 
  height: 384px;
  width: 980px;
  position: relative; /*set to relative to anything that uses absolute inside will positioned to the top left corner of this element*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.heroimage h1
{
  color: white;
  font-size: 50px;
  letter-spacing: -1px;
}

.heroimage h3
{
  font-size: 22px;
  color: white;
  font-weight:normal;
  margin-bottom: 0px;
}

.button {
  margin-bottom: 200px;
  margin-left: 10px;
}

.hero
{
  height: 384px;
  width: 980px;
  position: relative; /*set to relative to anything that uses absolute inside will positioned to the top left corner of this element*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.heroContact {
  background: url(../images/screen_shots/crash_bandicoot.jpg) no-repeat bottom; 
}

.hero h2
{
  color: #178df2;
  font-size: 31px;
  letter-spacing: -1px;
  margin-bottom: 0px;
  margin-left: 325px;
}

.hero h3
{
  font-size: 14px;
  color: #178df2;
  font-weight:normal;
  margin-bottom: 60px;
  margin-left: 347px;
}
/*--Close Hero--*/

/*-- Index Start --*/
.resources {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
	padding: 40px;
}

.subscribers, .contactme {
	background-color: #178df2;
	color: black;
	text-align: center;
	width: 400px;
	height: 425px;
}
/*-- Index Close --*/

/*-- Footer Start --*/

.mainFooter {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 20px;
	padding: 0 20px;
	background-color: silver;
	height: 125px;
}

.logoFooter, .socialMedia, .footerNav {
	color: white;
	text-align: center;
}

.socialMedia {
	height: 50px;
	width: 100px;
	margin-left: auto;
}

.logoNav {
	display: flex;
	flex-direction: column;
}

.logoFooter {
	height: 50px;
	width: 160px;
	margin-bottom: 20px;
}

.footerNav {
	width: 380px;
	height: 25px;
}
/*--Footer Close --*/

/*-- Gallery Start --*/

#mainGallery {
	padding: 20px;
	width: 940px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.galleryImageCon {
	width: 290px;
}

/*-- Gallery Close --*/

/*-- Content Start --*/
.content {
	background-color: #178df2;
	color: white;
	margin: 20px;
	padding: 20px;
	text-align: left;
	height: 300px;
}
/*-- Content Close --*/

/*-- Start Contact Us --*/

#mainContact {
  width: 940px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#mainContact h2 {
  font-size: 30px;
  color: black;
  background-color: #178df2;
  margin-bottom: 40px;
  padding: 8px 0px 8px 5px;
  width: 940px;
}

#contactArea {
  width: 469px;
  border-right: solid 1px #CCC;
  margin-bottom: 30px;
  color: white;
}


#contactText {
  font-size: 21px;
  margin-bottom: 30px;
  width: 340px;
}

#contactForm {
  margin-top: 30px;
}

fieldset {
  border: none;
  padding: 0px;
}


input, textarea  {
  font-size: 11px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;
  height: 10px;
  background-color: #efefef;
  display: block;
  border: 1px solid #999;
  color: #333;
}

#comments {
  width: 360px;
  height: 200px;
}

#submit {
  display: block;
  width: 75px;
  height: 30px;
  text-align: center;
  margin-top: 30px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #178df2;
  font-size: 14px;
  border: 1px solid #003471;
}

#mapArea {
  width: 380px;
  margin-left: 90px;
}


#mapArea h3 {
  font-size: 21px;
  margin-top: 0;
  color: white;
}

#mapArea ul {
  list-style-type: none;
  padding: 0;
} 


/*-- Close Contact Us --*/